{% extends 'tickets/base.html' %}

{% block title %}Manage Tickets{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            {% if tickets %}
            <h2>Your Tickets</h2>
            <ul>
                {% for ticket in tickets %}
                <li>{{ ticket }}</li>
                {% endfor %}
            </ul>
            <a href="{% url 'create_ticket' %}" class="btn btn-primary mt-3">Create Ticket</a>
            {% else %}
            <p>No open tickets found.</p>
            <a href="{% url 'create_ticket' %}" class="btn btn-primary mt-3">Create Ticket</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}